.footer iframe {
	position: relative;
	top: 4px;
}

.hero__terminal {
	display: flex;
	align-items: center;
	justify-content: center;

	background: transparent;
	border: 20px dashed var(--light-gray-color);
	box-shadow: none;
	font-size: 42px;
}

.hero__label {
    background: var(--white-color);
    border: 1px solid var(--light-gray-color);
    box-shadow: 0 1px 0 0 var(--medium-gray-color);
    border-radius: 3px;
    font-family: Courier;
    font-size: 29px;
    color: var(--dark-gray-color);
    padding: 3px 3px 1px 3px;
    vertical-align: middle;
}